<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Relatorio administrativo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Topicos por categoria </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Categoria </th>
                    <th> Quantidade </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${topicosPorCategorias.empty}">
                    <td colspan="2"> Sem dados </td>
                </tr>
                <tr th:each="topicosPorCategoria : ${topicosPorCategorias}">
                    <td th:text="${topicosPorCategoria.categoria}"></td>
                    <td th:text="${topicosPorCategoria.quantidade}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>